
*{
    margin:0px;
    padding:0px;
}

body{
    
    padding:0px;
    margin: 0px;
    font-family:bold;
    font-size:20px;
   background-color:black;
    background-size:cover;
}
nav{
    height:40px;
    background:rgb(19, 230, 177);
}
nav ul{
    list-style:none;
}
nav ul li a {
    float:left;
    color:white;
    text-decoration:none;
padding:0 30px;
line-height:30px;
border-right:1px dotted white;
}
nav ul li a:hover{
    background-color:greenyellow;
    

}
nav ul li a.search-form{
    margin-top:20px;
    float:right;
    margin-right:100px;
    

}
input[type=text]{
    padding:3px;
    border:none;
    font-size:16px;
    font-family:arial;
}

button{
    border-radious:20px;
    cursor:pointer;
    position:realtive;
    background:orange;
    color:white;
    padding:3px;
    border:none;
    font-size:16px;
}